@import '../../style//variables.scss';

.error {
	&__wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&__descr {
		h2 {
			font-size: 35px;
		}
	}
	&__header__title {
		font-size: 20px;
		margin-top: 20px;
		font-weight: 900;
	}
	&__text {
		margin-top: 15px;
		font-size: 20px;
	}
}

.link-style {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-top: 30px;
	&:hover {
		color: $main-color;
	}
}
